@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  /* This maps your Next.js font variables to Tailwind classes */
  --font-anton: var(--font-anton);
  --font-space: var(--font-space);
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Use the variable from layout.js as the fallback */
  font-family: var(--font-space), ui-sans-serif, system-ui;
}